<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<connectionStrings>
		<add name="DataTier.Properties.Settings.historyConnectionString" connectionString="Data Source=ise172.ise.bgu.ac.il;Initial Catalog=history;Persist Security Info=True;User ID=labuser;Password=wonsawheightfly" providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd/MM/yyyy HH:mm:ss},%message%newline"/>
			</layout>
		</appender>

		<appender name="FileAppenderHistory" type="log4net.Appender.FileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<file value="..\..\..\Log\history.txt"/>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="History"/>
			</filter>
			<filter type="log4net.Filter.DenyAllFilter"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd/MM/yyyy HH:mm:ss},%message%newline"/>
			</layout>
		</appender>

		<appender name="FileAppenderDebug" type="log4net.Appender.FileAppender">
			<file value="..\..\..\Log\DebugLog.txt"/>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="Debug"/>
			</filter>
			<filter type="log4net.Filter.DenyAllFilter"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd/MM/yyyy HH:mm:ss},%file,Line: %line,%message%newline"/>
			</layout>
		</appender>

		<!--<logger name="myLogger">
			<level value="DEBUG"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="FileAppenderHistory"/>
		</logger>-->

		<root>
			<level value="DEBUG"/>
			<appender-ref ref="FileAppenderDebug"/>
			<appender-ref ref="FileAppenderHistory"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>